@import "../../styles/global.scss";

.header {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: transparent;

    &__logo-image {
        width: 25%;

        @include tablet {
            width: 15%;
        }

        @include desktop {
            width: 10%;
        }
    }
    &__logout-link {
        width: 10%;
        color: $light-green;
        height: 20px;
        background-color: transparent;
        border: none;
    }
}