@import "../../styles/global.scss";

.header {
    width: 100%;
    position: fixed;

    &__logo-image {
        width: 25%;

        @include tablet {
            width: 15%;
        }

        @include desktop {
            width: 10%;
        }
    }

}